* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: 80px;
  background-color: #0f1111;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

.navlogo {
  height: 60px;
  width: 120px;
  border: 2px solid transparent;
}

.logo {
  background-image: url("OIP.webp");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.border:hover {
  border: 1px solid white;
}

.ad1 {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 20px;
}

.ad2 {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 2px;
}

.addicon {
  display: flex;
}

.navsearch {
  display: flex;
  background-color: pink;
  width: 1220px;
  height: 40px;
  border-radius: 4px;
  justify-content: space-evenly;
}

.search {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.navsearch:hover {
  border: 2px solid orange;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

.navcountry {
  display: flex;
}

span {
  color: white;
  font-size: 0.7rem;
}

.navsecond {
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
}

.navcart i {
  font-size: 30px;
}

.navcart {
  font-size: 0.85rem;
  font-weight: 700;
}

.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panelops a {
  margin-left: 15px;
}

.panelops {
  width: 70%;
  font-size: 0.85rem; /* fixed typo: was 0.85rems */
}

.paneldeals {
  font-size: 0.9rem;
  font-weight: 700;
}

.hero {
  background-image: url("81DKIMqhSQL._SX3000_.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.msg {
  background-color: white;
  color: #0f1111;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;
}

.msg a {
  color: #007185;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.shopping {
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  flex-wrap: wrap;
}

.boximg {
  height: 300px;
  background-size: contain; /* fixed: was background-image: contain */
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.boxcontent {
  margin-left: 1rem;
  margin-right: 1rem;
}

.boxcontent p {
  color: #007185;
}
footer{
    margin-top: 15px;
}
.foot1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 0.85rem;
}
.foot2 {
    background-color: #222f3d;
color: white;
height: 300px;
display: flex;
justify-content: space-evenly;
}
ul {
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
      background-image: url("OIP.webp");
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 100px;
}
.foot4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
text-align: center;

}
.pages {
padding-top: 25px;
text-decoration: none;
color: white;
}
.copy{
    padding-top: 20px;
}